---
layout: default
---

{% if page.minutes %}
  {% assign minutes = page.minutes %}
{% else %}
  {% assign minutes = content | number_of_words | divided_by: 180 %}
  {% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
{% endif %}

<div class="container-fluid single">
  <div class="row">

    <div itemscope itemtype="http://schema.org/Article" class="col-md-12 article">
      {% if site.data.thumbnail[page.thumbnail] %}
      <div class="thumb">
        <img itemprop="image" src="{{ site.data.thumbnail[page.thumbnail] }}" alt="Thumbnail: {{ page.thumbnail }}" />
      </div>
      {% elsif page.thumbnail %}
      <div class="thumb">
        <i class="fa fa-{{ page.thumbnail }} fa-4x"></i>
      </div>
      {% endif %}

      <h1 class="header" itemprop="name">{{ page.title }}</h1>

      <div class="author">
        <small><i>
          por
          <span itemprop="author">
            {% if site.google_plus_link %}
              <a rel="author" href="{{ site.google_plus_link }}">
            {% endif %}
            {% if page.author %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">{{ page.author }}</span>
            </span>
            {% endif %}
            {% if site.google_plus_link %}
              </a>
            {% endif %}
          </span>,
          <span itemprop="datePublished" content="2014-08-28">
            <!-- Snippet para establecer meses a español -->
            {% assign m = page.date | date: "%-m" %}
            {% case m %}
              {% when '1' %}Enero
              {% when '2' %}Febrero
              {% when '3' %}Marzo
              {% when '4' %}Abril
              {% when '5' %}Mayo
              {% when '6' %}Junio
              {% when '7' %}Julio
              {% when '8' %}Agosto
              {% when '9' %}Septiembre
              {% when '10' %}Octubre
              {% when '11' %}Noviembre
              {% when '12' %}Diciembre
            {% endcase %}
            {{page.date | date: "%-d" }}
             del {{page.date | date: "%Y" }}
          </span>
          en la categoría de {% if page.categories %}{% for category in page.categories limit:1 %}{{ category }}{% endfor %}{% endif %}
        </i></small>
      </div>

      <div class="read-time">
        <small>
          {{ minutes }} minuto(s) de lectura
        </small>
      </div>

      <div class="content-panel content">
        <span itemprop="articleBody">{{ content }}</span>

        {% if site.addthis_id %}
        <div class="share">
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox"></div>
        </div>
        {% endif %}

        <div class="tags"><small>
          <i class="fa fa-tags"></i>
            {{ page.tags | join: ', ' }}
        </small></div>
        <div class="suggest-edit">
          <p>¿Ves un error en este artículo, por qué no <a href="https://github.com/CarMoreno/carmoreno.github.io/tree/master/{{page.path}}" target="_blank"> sugieres una revisión?</a></p>
        </div>
  
      </div>

      <div class="content-panel feedback">
        Déjame saber lo que piensas de este artículo en twitter <a href="http://www.twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> o deja un comentario mas abajo 
      </div>

      {% if site.disqus_account %}
      <div class="content-panel comments">
        <div id="disqus_thread">
          <noscript>Por favor activa Javascript en tu navegador para ver los<a href="http://disqus.com/?ref_noscript">Comentarios activados por Disqus</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      </div>
      {% endif %}

      <div class="content-panel related clearfix">
        {% for post in site.related_posts limit:1 %}
        <div class="related-header">
          <a href="{{ site.baseurl }}{{ post.url }}">Leer más</a>
        </div>
          <div class="title">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </div>
          <div class="excerpt">
             {% if post.summary %}
              {{ post.summary | strip_html | truncatewords:30 }}
             {% else %}
              {{ post.excerpt | strip_html | truncatewords:30 }}
             {% endif %}
            <a href="{{ site.baseurl }}{{ post.url }}">Continuar Leyendo</a>
          </div>
        {% endfor %}
        <hr />
        <div class="previous previous-next">
          {% if page.previous %}
          <p>
            <a href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a>
          </p>
          <p class="date">Publicado en {{ page.previous.date | date: "%B %-d, %Y" }}</p>
          {% endif %}
        </div>
        <div class="next previous-next">
          {% if page.next %}
          <p>
            <a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a>
          </p>
          <p class="date">Publicado en {{ page.next.date | date: "%B %-d, %Y" }}</p>
          {% endif %}
        </div>
      </div>

    </div>

  </div>

</div>

{% if site.disqus_account %}
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
function disqus_config() { this.experiment.enable_scroll_container = true; }
var disqus_shortname = "{{ site.disqus_account }}"; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
{% endif %}
